/*font-family: 'IM Fell DW Pica', serif;
font-family: 'Chau Philomene One', sans-serif;
font-family: 'Rokkitt', serif;*/

/** {
  border: solid 1px pink;
}*/

body {
   /*background: linear-gradient(to top, #463b59, #373338);*/
    background: linear-gradient(to top, #200526, #1d0023);
   /*background: #200526;*/
}

p {
  font-size: 18px;
  line-height: 20px;
  font-family: sans-serif;
}
H1 {
  color: white;
  letter-spacing: 3PX;
  font-family: 'Oswald', sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: -50px;
}

h3 {
  letter-spacing: 1px;
}

/*Makes form area smaller, but does not account for form titles*/
.form-control {
  width: 50%;
}

.btn-md {
  letter-spacing: 1px;
  font-size: 19px;
  color: white;
  margin-top: 54px;
  background-color: black;
  border: solid rgba(255, 255, 255, 0.2) 1px;
  background: linear-gradient(to top, #200526, #1d0023);
}
.btn-md:hover {
  /*background-color: inherit;*/
  color: white;
  border: solid white 2px);
  transition: .75s;
}

.col-md-4 {
  padding-left: 20px;
  padding-right: 20px;
}

#chordbutton {
  margin-top: 20px;
}

.formbutton {
  display: flex;
  flex-direction: column;
}

.form {
  height: auto;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  color: white;
  box-shadow: 15px 15px 70px rgba(10, 10, 10, .35);
  padding-bottom: 20px;
  background-color: #320038;
  border-radius: 8px;
}
.form h1 {
  text-align: center;
}

.left {

}

.input {
  height: auto;
}
.card {
  color: white;
  height: 700px;
  border-radius: 8px;
  box-shadow: 15px 15px 70px rgba(10, 10, 10, .5);
}
.home {

  background-image: url('../img/home.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.home h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
}
.jazz {
  background-image: url('../img/jazz.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.jazz h2 {
  font-family: 'Caveat', cursive;
  font-size: 180px;
}

.blues {
  background-image: url('../img/blues.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.blues h2 {
  font-family: 'Caveat', cursive;
  font-size: 140px;
}

.pop {
  background-image: url('../img/pop.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.pop h2 {
  font-family: 'Passion One', cursive;
  font-size: 100px;
  letter-spacing: 4px;
}

.punk {
  background-image: url('../img/punk.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.punk h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 180px;
}

.metal {
  background-image: url('../img/metal.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.metal h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 180px;
}

.rock {
  background-image: url('../img/rock.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.rock h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 180px;
}

.container-fluid {
  margin: 30px;
}

#jazz, #blues, #pop, #punk, #metal, #rock {
  margin-bottom: 100px;
  display: none;
}

#home {
  margin-bottom: 100px;
}
.col-md-8 {
  padding: 20px;
}
.col-md-8 img {
  float: left;
  width: 25%;
}
#genres {
  height: 75px;
  width: auto;
}


h4 {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 3px;
  font-size: 20px;
  transition: .5s;
  border-bottom-style: none;
  padding: 7px;
  margin-top: 20px;
  border-bottom-width: 0px;
  border-radius: 8px;
}

h4:hover {
  color: rgba(255, 255, 255, 1);
  transition: .75s;
  cursor: pointer;
  padding: 7px;
  background-color: rgba(255, 255, 255, .025);
  border-radius: 8px;
}
.selected {
    color: rgba(255, 255, 255, 1);
    border-bottom-style: outset;
    border-bottom-width: 1px;
    padding-bottom: 7px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .05);
}

.display {
  color: transparent;
  font-size: 0;
}
/*#head {
  margin-bottom: 100px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}*/
