/*font-family: 'IM Fell DW Pica', serif;
font-family: 'Chau Philomene One', sans-serif;
font-family: 'Rokkitt', serif;*/

/** {
  border: solid 1px pink;
}*/

body {
   /*background: linear-gradient(to top, #593662, #6A6A8F);*/
   background: #463b59;
}

p {
  font-size: 18px;
  line-height: 20px;
  font-family: sans-serif;
}
H1 {
  color: white;
  letter-spacing: 3PX;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: sans-serif;
  font-size: 20px;
  float: left;
}
.center {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/*Makes form area smaller, but does not account for form titles*/
.form-control {
  width: 50%;
}

.btn-md {
  margin-top: 56px;
}

.col-md-4 {
  padding-left: 20px;
  padding-right: 20px;
}

#chordbutton {
  margin-top: 20px;
}

.form {
  height: auto;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  color: white;
  border: solid white 2px;
  padding-bottom: 20px;
  text-align: center;
}

.left {

}

.input {
  height: auto;
}
.card {
  color: white;
  height: 700px;
  border-radius: 8px;
  box-shadow: 15px 15px 70px rgba(10, 10, 10, .5);
}

.jazz {
  background-image: url('../img/jazz.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.jazz h2 {
  font-family: 'Caveat', cursive;
  font-size: 180px;
}

.blues {
  background-image: url('../img/blues.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.blues h2 {
  font-family: 'Caveat', cursive;
  font-size: 140px;
}

.pop {
  background-image: url('../img/pop.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.pop h2 {
  font-family: 'Passion One', cursive;
  font-size: 100px;
  letter-spacing: 4px;
}

.punk {
  background-image: url('../img/punk.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.punk h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 180px;
}

.metal {
  background-image: url('../img/metal.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.metal h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 180px;
}

.rock {
  background-image: url('../img/rock.jpg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #320038;
}

.rock h2 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 180px;
}

.container-fluid {
  margin: 30px;
}

#jazz, #blues, #pop, #punk, #metal, #rock {
  margin-bottom: 100px;
  display: none;
}
.col-md-8 {
  padding: 20px;
}
.col-md-8 img {
  float: left;
  width: 25%;
}
#genres {
  height: 55px;
  width: auto;
}


.menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 28px;
  transition: .5s;
}

.menu:hover {
  color: rgba(255, 255, 255, 1);
  transition: .5s;
  cursor: pointer;
}
.selected {
    color: white;
}
/*#head {
  margin-bottom: 100px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}*/
